/*
NoMethodError: You have a nil object when you didn't expect it!
You might have expected an instance of Array.
The error occurred while evaluating nil.[]

Backtrace:
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/sass-rails-3.1.5/lib/sass/rails/helpers.rb:40:in `resolver'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/sass-rails-3.1.5/lib/sass/rails/helpers.rb:44:in `public_path'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/sass-rails-3.1.5/lib/sass/rails/helpers.rb:15:in `asset_url'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/script/funcall.rb:88:in `_perform'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/script/node.rb:40:in `perform'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:214:in `visit_prop'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:234:in `visit_rule'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/root_node.rb:20:in `render'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/engine.rb:300:in `_render'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/engine.rb:248:in `block in render'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/util.rb:297:in `silence_sass_warnings'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/engine.rb:248:in `render'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/plugin/compiler.rb:175:in `each'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/plugin/compiler.rb:173:in `each'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/plugin/rack.rb:51:in `call'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.1.0/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/rack-1.3.5/lib/rack/etag.rb:23:in `call'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/rack-1.3.5/lib/rack/conditionalget.rb:25:in `call'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.1.0/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.1.0/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.1.0/lib/action_dispatch/middleware/flash.rb:243:in `call'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/rack-1.3.5/lib/rack/session/abstract/id.rb:195:in `context'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/rack-1.3.5/lib/rack/session/abstract/id.rb:190:in `call'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.1.0/lib/action_dispatch/middleware/cookies.rb:326:in `call'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/activerecord-3.1.0/lib/active_record/query_cache.rb:62:in `call'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/activerecord-3.1.0/lib/active_record/connection_adapters/abstract/connection_pool.rb:477:in `call'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.1.0/lib/action_dispatch/middleware/callbacks.rb:29:in `block in call'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/activesupport-3.1.0/lib/active_support/callbacks.rb:392:in `_run_call_callbacks'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/activesupport-3.1.0/lib/active_support/callbacks.rb:81:in `run_callbacks'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.1.0/lib/action_dispatch/middleware/callbacks.rb:28:in `call'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.1.0/lib/action_dispatch/middleware/reloader.rb:68:in `call'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/rack-1.3.5/lib/rack/sendfile.rb:101:in `call'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.1.0/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.1.0/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/railties-3.1.0/lib/rails/rack/logger.rb:13:in `call'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/rack-1.3.5/lib/rack/methodoverride.rb:24:in `call'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/rack-1.3.5/lib/rack/runtime.rb:17:in `call'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/activesupport-3.1.0/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/rack-1.3.5/lib/rack/lock.rb:15:in `call'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.1.0/lib/action_dispatch/middleware/static.rb:53:in `call'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/railties-3.1.0/lib/rails/engine.rb:455:in `call'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/railties-3.1.0/lib/rails/rack/content_length.rb:16:in `call'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/railties-3.1.0/lib/rails/rack/log_tailer.rb:14:in `call'
/Users/nicolasiensen/.rvm/gems/ruby-1.9.2-p290/gems/rack-1.3.5/lib/rack/handler/webrick.rb:59:in `service'
/Users/nicolasiensen/.rvm/rubies/ruby-1.9.2-p290/lib/ruby/1.9.1/webrick/httpserver.rb:111:in `service'
/Users/nicolasiensen/.rvm/rubies/ruby-1.9.2-p290/lib/ruby/1.9.1/webrick/httpserver.rb:70:in `run'
/Users/nicolasiensen/.rvm/rubies/ruby-1.9.2-p290/lib/ruby/1.9.1/webrick/server.rb:183:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "NoMethodError: You have a nil object when you didn't expect it!\A You might have expected an instance of Array.\A The error occurred while evaluating nil.[]"; }
