@import compass
@import "compass/reset"

$red: #660000
$brown: #662E00
$purple: #52002E
$green: #005200
$fb_blue: #3b5998

body
  background: asset-url("square_bg.png", image)
  font-family: 'Special Elite', cursive

#header
  +clearfix
  padding: 20px 0

.bank
  +box-shadow(black 0 0 5px)
  +border-radius(10px)
  +clearfix
  margin-bottom: 20px
  padding: 10px
  +linear-gradient(color-stops(lighten(#ccc, 20%), #ccc))
  +text-shadow(white 0 1px 0)
  .name
    font-size: 1.3em
    margin-bottom: 1em

.ui-container
  height: 20px
  margin-bottom: 5px
  float: right
  width: 210px

.ui-progress
  height: 18px
  +linear-gradient(color-stops($red, lighten($red, 50%)))
  +box-shadow(inset 0px 1px 0px 0px lighten($red, 50%), inset 0px -1px 1px $red)
  background-size: 18px 18px
  border: 1px solid $red

.label
  float: left
  width: 60px
  font-size: 0.8em
  line-height: 23px

.blood_bag
  +clearfix

.btn_facebook
  +border-radius(5px)
  +linear-gradient(color-stops(lighten($fb_blue, 25%), $fb_blue))
  +box-shadow(#666 0 .3em .3em, inset lighten($fb_blue, 40%) 0 .3em .3em)
  border: $fb_blue 1px solid
  display: inline-block
  color: white
  padding: .5em
  text-decoration: none
  font-weight: bold
  font-family: 'Varela Round', sans-serif
  font-size: .8em
  &:active
    +box-shadow(#666 0 .1em .1em)
    +translateY(.2em)
